---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import WhatsAppButton from '../../components/WhatsAppButton.astro';
import FragrancePreview from '../../components/FragrancePreview.astro';

const fragrance = {
  id: 'ajwad',
  name: 'Ajwad',
  displayName: 'Ajwad',
  gender: 'femenino',
  category: 'oriental',
  fraganciazId: 'fraganciaz-17-ajwad',
  imagePath: '/assets/images/fragancias/mujer/fraganciaz-17-ajwad',
  images: ["ajwad-01.jpeg","ajwad-02.jpeg","ajwad-03.jpeg","ajwad-04.jpeg"],
  notesImages: [],
  hasImages: true
};
---

<Layout title={`${fragrance.displayName} - DAR Casa de la Perfumería`} description={`Descubre ${fragrance.displayName}, una fragancia ${fragrance.category} ${fragrance.gender}. Importada directamente desde Dubai.`}>
  <Header />
  <WhatsAppButton />
  
  <main>
    <FragrancePreview fragrance={fragrance} />
  </main>

  <Footer />
</Layout>