---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import WhatsAppButton from '../../components/WhatsAppButton.astro';
import FragrancePreview from '../../components/FragrancePreview.astro';

const fragrance = {
  id: 'alharamain-laventure',
  name: 'Alharamain L\'aventure',
  displayName: 'Alharamain L\'aventure',
  gender: 'masculino',
  category: 'oriental',
  fraganciazId: 'fraganciaz-1-alharamain-laventure',
  imagePath: '/assets/images/fragancias/hombre/fraganciaz-1-alharamain-laventure',
  images: ["alharamain-laventure-01.jpeg","alharamain-laventure-02.jpeg","alharamain-laventure-03.jpeg"],
  notesImages: [],
  hasImages: true
};
---

<Layout title={`${fragrance.displayName} - DAR Casa de la Perfumería`} description={`Descubre ${fragrance.displayName}, una fragancia ${fragrance.category} ${fragrance.gender}. Importada directamente desde Dubai.`}>
  <Header />
  <WhatsAppButton />

  <main>
    <FragrancePreview fragrance={fragrance} />
  </main>

  <Footer />
</Layout>