---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import WhatsAppButton from '../../components/WhatsAppButton.astro';
import FragrancePreview from '../../components/FragrancePreview.astro';

const fragrance = {
  id: 'bharara-rome',
  name: 'Bharara Rome',
  displayName: 'Bharara Rome',
  gender: 'masculino',
  category: 'oriental',
  fraganciazId: 'fraganciaz-5-bharara-rome',
  imagePath: '/assets/images/fragancias/hombre/fraganciaz-5-bharara-rome',
  images: ["bharara-rome-01.jpeg","bharara-rome-02.jpeg","bharara-rome-03.jpeg","bharara-rome-04.jpeg","bharara-rome-05.jpeg"],
  notesImages: [],
  hasImages: true
};
---

<Layout title={`${fragrance.displayName} - DAR Casa de la Perfumería`} description={`Descubre ${fragrance.displayName}, una fragancia ${fragrance.category} ${fragrance.gender}. Importada directamente desde Dubai.`}>
  <Header />
  <WhatsAppButton />

  <main>
    <FragrancePreview fragrance={fragrance} />
  </main>

  <Footer />
</Layout>