---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import WhatsAppButton from '../../components/WhatsAppButton.astro';
import FragrancePreview from '../../components/FragrancePreview.astro';

const fragrance = {
  id: 'hayaati-maleky-men',
  name: 'Hayaati Maleky Men',
  displayName: 'Hayaati Maleky Men',
  gender: 'masculino',
  category: 'oriental',
  fraganciazId: 'fraganciaz-6-hayaati-maleky-men',
  imagePath: '/assets/images/fragancias/hombre/fraganciaz-6-hayaati-maleky-men',
  images: ["hayaati-maleky-men-01.jpeg","hayaati-maleky-men-02.jpeg","hayaati-maleky-men-03.jpeg","hayaati-maleky-men-04.jpeg","hayaati-maleky-men-05.jpeg","hayaati-maleky-men-06.jpeg","hayaati-maleky-men-07.jpeg"],
  notesImages: [],
  hasImages: true
};
---

<Layout title={`${fragrance.displayName} - DAR Casa de la Perfumería`} description={`Descubre ${fragrance.displayName}, una fragancia ${fragrance.category} ${fragrance.gender}. Importada directamente desde Dubai.`}>
  <Header />
  <WhatsAppButton />

  <main>
    <FragrancePreview fragrance={fragrance} />
  </main>

  <Footer />
</Layout>