---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import WhatsAppButton from '../../components/WhatsAppButton.astro';
import FragrancePreview from '../../components/FragrancePreview.astro';

const fragrance = {
  id: 'kismet-men',
  name: 'Kismet Men',
  displayName: 'Kismet Men',
  gender: 'masculino',
  category: 'oriental',
  fraganciazId: 'fraganciaz-9-kismet-men',
  imagePath: '/assets/images/fragancias/hombre/fraganciaz-9-kismet-men',
  images: ["kismet-men-01.jpeg","kismet-men-02.jpeg","kismet-men-03.jpeg","kismet-men-04.jpeg","kismet-men-05.jpeg","kismet-men-06.jpeg","kismet-men-07.jpeg","kismet-men-08.jpeg"],
  notesImages: [],
  hasImages: true
};
---

<Layout title={`${fragrance.displayName} - DAR Casa de la Perfumería`} description={`Descubre ${fragrance.displayName}, una fragancia ${fragrance.category} ${fragrance.gender}. Importada directamente desde Dubai.`}>
  <Header />
  <WhatsAppButton />

  <main>
    <FragrancePreview fragrance={fragrance} />
  </main>

  <Footer />
</Layout>