---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import WhatsAppButton from '../../components/WhatsAppButton.astro';
import FragrancePreview from '../../components/FragrancePreview.astro';

const fragrance = {
  id: 'kit-yara-and-yara-candy',
  name: 'Kit Yara and Yara Candy',
  displayName: 'Kit Yara and Yara Candy',
  gender: 'femenino',
  category: 'oriental',
  fraganciazId: 'fraganciaz-22-kit-yara-and-yara-candy',
  imagePath: '/assets/images/fragancias/mujer/fraganciaz-22-kit-yara-and-yara-candy',
  images: ["1_e5d108d7-783c-41ec-b986-264235b6141e.webp","OIP (15).jpg","OIP (17).jpg","c2052bf7-362d-4c81-9611-c2bcdb5da4dd-yara-candy-lattafa-eau-de-parfum-perfume-feminino-100ml.webp","yara-candy-4.jpg"],
  notesImages: [],
  hasImages: true
};
---

<Layout title={`${fragrance.displayName} - DAR Casa de la Perfumería`} description={`Descubre ${fragrance.displayName}, una fragancia ${fragrance.category} ${fragrance.gender}. Importada directamente desde Dubai.`}>
  <Header />
  <WhatsAppButton />

  <main>
    <FragrancePreview fragrance={fragrance} />
  </main>

  <Footer />
</Layout>