---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import WhatsAppButton from '../../components/WhatsAppButton.astro';
import FragrancePreview from '../../components/FragrancePreview.astro';

const fragrance = {
  id: 'liam-grey',
  name: 'Liam Grey',
  displayName: 'Liam Grey',
  gender: 'masculino',
  category: 'oriental',
  fraganciazId: 'fraganciaz-10-liam-grey',
  imagePath: '/assets/images/fragancias/hombre/fraganciaz-10-liam-grey',
  images: ["liam-grey-01.jpeg","liam-grey-02.jpeg","liam-grey-03.jpeg","liam-grey-04.jpeg"],
  notesImages: [],
  hasImages: true
};
---

<Layout title={`${fragrance.displayName} - DAR Casa de la Perfumería`} description={`Descubre ${fragrance.displayName}, una fragancia ${fragrance.category} ${fragrance.gender}. Importada directamente desde Dubai.`}>
  <Header />
  <WhatsAppButton />

  <main>
    <FragrancePreview fragrance={fragrance} />
  </main>

  <Footer />
</Layout>