---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import WhatsAppButton from '../../components/WhatsAppButton.astro';
import FragrancePreview from '../../components/FragrancePreview.astro';

const fragrance = {
  id: 'mayar-cherry',
  name: 'Mayar Cherry',
  displayName: 'Mayar Cherry',
  gender: 'masculino',
  category: 'oriental',
  fraganciazId: 'fraganciaz-12-mayar-cherry',
  imagePath: '/assets/images/fragancias/hombre/fraganciaz-12-mayar-cherry',
  images: ["mayar-cherry-01.jpeg","mayar-cherry-02.jpeg","mayar-cherry-03.jpeg","mayar-cherry-04.jpeg","mayar-cherry-05.jpeg"],
  notesImages: [],
  hasImages: true
};
---

<Layout title={`${fragrance.displayName} - DAR Casa de la Perfumería`} description={`Descubre ${fragrance.displayName}, una fragancia ${fragrance.category} ${fragrance.gender}. Importada directamente desde Dubai.`}>
  <Header />
  <WhatsAppButton />

  <main>
    <FragrancePreview fragrance={fragrance} />
  </main>

  <Footer />
</Layout>