---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import WhatsAppButton from '../../components/WhatsAppButton.astro';
import FragrancePreview from '../../components/FragrancePreview.astro';

const fragrance = {
  id: 'now-black',
  name: 'Now Black',
  displayName: 'Now Black',
  gender: 'masculino',
  category: 'oriental',
  fraganciazId: 'fraganciaz-13-now-black',
  imagePath: '/assets/images/fragancias/hombre/fraganciaz-13-now-black',
  images: ["now-black-01.jpeg","now-black-02.jpeg","now-black-03.jpeg","now-black-04.jpeg","now-black-05.jpeg","now-black-06.jpeg"],
  notesImages: [],
  hasImages: true
};
---

<Layout title={`${fragrance.displayName} - DAR Casa de la Perfumería`} description={`Descubre ${fragrance.displayName}, una fragancia ${fragrance.category} ${fragrance.gender}. Importada directamente desde Dubai.`}>
  <Header />
  <WhatsAppButton />

  <main>
    <FragrancePreview fragrance={fragrance} />
  </main>

  <Footer />
</Layout>